In [108]:
# imports
import csv
import json
import pandas as pd
import yaml

In [120]:
# initial data 
xda=pd.read_csv("/Users/srikarprayaga/Desktop/DataEngineering-Assessment/test.csv")
xda.head()

   id   name  description  commas_used created_at updated_at
0   1   Test    Test Entry         ,,,     1/1/20     1/1/20
1   2  Test1  Test 1 Entry      ,,,,,,     1/1/20    10/5/20
2   3  Test2  Test 2 Entry           ,     3/4/20     3/5/20

In [121]:
# function to convert csv to json
def csv_to_json(csv_file):
    with open(csv_file, 'r',encoding='utf-8-sig') as csv_file: # encoding to handle the BOM (u'\ufeff error before id)
        csv_reader = csv.DictReader(csv_file)
        json_file = json.dumps([row for row in csv_reader]) 
        return json_file

In [126]:
# export json to desktop
json_export=csv_to_json("/Users/srikarprayaga/Desktop/DataEngineering-Assessment/orders.csv")
with open("/Users/srikarprayaga/Desktop/test.json", "w") as json_file: # test.json is name of file on desktop 
    json.dump(json_export, json_file)

In [129]:
# just test locally 
json_export=csv_to_json("/Users/srikarprayaga/Desktop/DataEngineering-Assessment/orders.csv")
json_ex=csv_to_json("/Users/srikarprayaga/Desktop/DataEngineering-Assessment/test.csv")

'[{"id": "1", "product_id": "3", "ordered_at": "2021-01-01\\n00:00:00", "product_quantity": "1", "created_at": "2021-01-01\\n00:00:01", "updated_at": "2021-01-01\\n00:01:03"}, {"id": "2", "product_id": "1", "ordered_at": "2021-01-03\\n05:00:07", "product_quantity": "4", "created_at": "2021-01-03\\n05:00:08", "updated_at": "2021-01-03\\n05:02:12"}, {"id": "3", "product_id": "5", "ordered_at": "2021-01-05\\n12:05:00", "product_quantity": "3", "created_at": "2021-01-05\\n12:05:01", "updated_at": "2021-01-06\\n01:05:00"}, {"id": "4", "product_id": "1", "ordered_at": "2021-02-01\\n03:00:00", "product_quantity": "2", "created_at": "2021-02-01\\n03:00:01", "updated_at": "2021-02-01\\n03:00:01"}, {"id": "5", "product_id": "1", "ordered_at": "2021-02-05\\n00:00:00", "product_quantity": "3", "created_at": "2021-02-05\\n00:00:01", "updated_at": "2021-02-05\\n00:00:01"}]'

In [130]:
# convert json to csv
def json_to_csv(json_file):
    xda=pd.read_json(json_file)
    return xda.to_csv("/Users/srikarprayaga/Desktop/tester.csv",index=False)
json_to_csv(json_ex)

In [106]:
# convert json to yaml
def json_to_yaml(json_file):
    with open(json_file, 'r') as json_file:
        json_data=json.load(json_file)
        yaml_data=yaml.dump(json_data)
        return yaml_data
# convert csv to yaml
def csv_to_yaml(csv_file):
    with open(csv_file, 'r') as csv_file:
        csv_data=pd.read_csv(csv_file)
        yaml_data=yaml.dump(csv_data)
        return yaml_data

In [109]:
json_to_yaml("/Users/srikarprayaga/Desktop/test.json")

'\'[{"id": "1", "product_id": "3", "ordered_at": "2021-01-01\\n00:00:00", "product_quantity":\n  "1", "created_at": "2021-01-01\\n00:00:01", "updated_at": "2021-01-01\\n00:01:03"},\n  {"id": "2", "product_id": "1", "ordered_at": "2021-01-03\\n05:00:07", "product_quantity":\n  "4", "created_at": "2021-01-03\\n05:00:08", "updated_at": "2021-01-03\\n05:02:12"},\n  {"id": "3", "product_id": "5", "ordered_at": "2021-01-05\\n12:05:00", "product_quantity":\n  "3", "created_at": "2021-01-05\\n12:05:01", "updated_at": "2021-01-06\\n01:05:00"},\n  {"id": "4", "product_id": "1", "ordered_at": "2021-02-01\\n03:00:00", "product_quantity":\n  "2", "created_at": "2021-02-01\\n03:00:01", "updated_at": "2021-02-01\\n03:00:01"},\n  {"id": "5", "product_id": "1", "ordered_at": "2021-02-05\\n00:00:00", "product_quantity":\n  "3", "created_at": "2021-02-05\\n00:00:01", "updated_at": "2021-02-05\\n00:00:01"}]\'\n'

In [110]:
csv_to_yaml("/Users/srikarprayaga/Desktop/test.csv")

'!!python/object:pandas.core.frame.DataFrame\n_metadata: []\n_mgr: !!python/object/new:pandas.core.internals.managers.BlockManager\n  state: !!python/tuple\n  - &id004\n    - !!python/object/apply:pandas.core.indexes.base._new_Index\n      - &id001 !!python/name:pandas.core.indexes.base.Index \'\'\n      - data: !!python/object/apply:numpy.core.multiarray._reconstruct\n          args:\n          - &id002 !!python/name:numpy.ndarray \'\'\n          - !!python/tuple\n            - 0\n          - !!binary |\n            Yg==\n          state: !!python/tuple\n          - 1\n          - !!python/tuple\n            - 25\n          - &id003 !!python/object/apply:numpy.dtype\n            args:\n            - O8\n            - false\n            - true\n            state: !!python/tuple\n            - 3\n            - \'|\'\n            - null\n            - null\n            - null\n            - -1\n            - -1\n            - 63\n          - false\n          - - \',id,name,description ,commas_used,created_at,updated_at\\n0,1,Test,Test\n              Entry,\\\'\n            - \'Unnamed: 1\'\n            - \'Unnamed: 2\'\n            - \\"\n            - \'2020-01-01\'\n            - 2020-01-01\\n1\n            - \'2\'\n            - Test1\n            - Test 1 Entry\n            - \\".1\n            - \'Unnamed: 10\'\n            - \'Unnamed: 11\'\n            - \'Unnamed: 12\'\n            - \'Unnamed: 13\'\n            - \'Unnamed: 14\'\n            - \\".2\n            - 2020-01-01.1\n            - 2020-10-05\\n2\n            - \'3\'\n            - Test2\n            - Test 2 Entry\n            - \\".3\n            - \\".4\n            - \'2020-03-04\'\n            - 2020-03-05\\n"\n        name: null\n    - !!python/object/apply:pandas.core.indexes.base._new_Index\n      - *id001\n      - data: !!python/object/apply:numpy.core.multiarray._reconstruct\n          args:\n          - *id002\n          - !!python/tuple\n            - 0\n          - !!binary |\n            Yg==\n          state: !!python/tuple\n          - 1\n          - !!python/tuple\n            - 0\n          - *id003\n          - false\n          - []\n        name: null\n  - - &id005 !!python/object/apply:numpy.core.multiarray._reconstruct\n      args:\n      - *id002\n      - !!python/tuple\n        - 0\n      - !!binary |\n        Yg==\n      state: !!python/tuple\n      - 1\n      - !!python/tuple\n        - 25\n        - 0\n      - *id003\n      - false\n      - []\n  - - !!python/object/apply:pandas.core.indexes.base._new_Index\n      - *id001\n      - data: !!python/object/apply:numpy.core.multiarray._reconstruct\n          args:\n          - *id002\n          - !!python/tuple\n            - 0\n          - !!binary |\n            Yg==\n          state: !!python/tuple\n          - 1\n          - !!python/tuple\n            - 25\n          - *id003\n          - false\n          - - \',id,name,description ,commas_used,created_at,updated_at\\n0,1,Test,Test\n              Entry,\\\'\n            - \'Unnamed: 1\'\n            - \'Unnamed: 2\'\n            - \\"\n            - \'2020-01-01\'\n            - 2020-01-01\\n1\n            - \'2\'\n            - Test1\n            - Test 1 Entry\n            - \\".1\n            - \'Unnamed: 10\'\n            - \'Unnamed: 11\'\n            - \'Unnamed: 12\'\n            - \'Unnamed: 13\'\n            - \'Unnamed: 14\'\n            - \\".2\n            - 2020-01-01.1\n            - 2020-10-05\\n2\n            - \'3\'\n            - Test2\n            - Test 2 Entry\n            - \\".3\n            - \\".4\n            - \'2020-03-04\'\n            - 2020-03-05\\n"\n        name: null\n  - 0.14.1:\n      axes: *id004\n      blocks:\n      - mgr_locs: !!python/object/apply:builtins.slice\n        - 0\n        - 25\n        - 1\n        values: *id005\n_typ: dataframe\nattrs: {}\n'